.profile {
    grid-area: profile;
    background-color: #aad1ff;
}

.profile img {
    max-width: 1000px;
}

.profile_ava{
    padding-top: 25px;
    padding-left: 15px;
}

.myPost {
    padding-top: 25px;
    padding-left: 15px;
}