.app-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 2px;
}

.app-wrapper-content{
  grid-area: content;
  color: black;
  background-color: #aad1ff;
}
